<mat-drawer-container class="main-wrapper" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
      <mat-nav-list class="sidenav__nav nav">
        <a mat-list-item routerLink="/" routerLinkActive="active">
          <mat-icon class="nav__icon">home</mat-icon>
          {{ 'sidenav.nav.home' | transloco }}
        </a>
        <a mat-list-item routerLink="/settings" routerLinkActive="active">
          <mat-icon class="nav__icon">settings</mat-icon>
          {{ 'sidenav.nav.settings' | transloco }}
        </a>
      </mat-nav-list>
  </mat-drawer>


  <div class="sidenav__content">
    <button mat-mini-fab color="primary" class="hamburger__btn" (click)="drawer.toggle()" aria-label="Toggle sidenav">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="sidenav__container container">
      <mat-card>
        <ng-content></ng-content>
      </mat-card>
    </div>
  </div>

</mat-drawer-container>
