<button mat-mini-fab color="primary" (click)="backHome()" aria-label="Back to home page">
    <mat-icon>home</mat-icon>
</button>

<app-header>{{ breed | titlecase }} {{ subbreed | titlecase }}</app-header>

<div class="breeds-images">
    <img
        *ngFor="let image of images"
        class="breeds-images__image"
        src="{{ image }}"
        alt="{{ breed }}">
</div>

<div class="breeds-images-info" *ngIf="displayImagesAmount > imagesAmount">
    <mat-divider></mat-divider>
    <p>Nie mamy aż <b>{{ displayImagesAmount }}</b> zdjęć tej rasy... 😔 Wyświetliliśmy wszystko co mamy... (<b>{{ imagesAmount }}</b>) </p>
</div>
