<app-header>{{ 'breeds.title' | transloco }}</app-header>

<table mat-table [dataSource]="breeds" *ngIf="(breeds$ | async) as breeds; let index" multiTemplateDataRows class="breeds-table">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> {{ 'breeds.table.name' | transloco }} </th>
    <td mat-cell *matCellDef="let breed"> {{ breed[0] | titlecase }} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> {{ 'breeds.table.action' | transloco }} </th>
    <td mat-cell *matCellDef="let breed">
      <ng-container *ngIf="breed[1].length === 0">
        <button mat-icon-button color="primary" [routerLink]="['breed/', breed[0]]" class="breeds-table__icon" aria-label="Visibility icon">
          <mat-icon>visibility</mat-icon>
        </button>
      </ng-container>
      <ng-container *ngIf="breed[1].length > 0">
        <button mat-icon-button color="primary"
            (click)="expandedBreed = expandedBreed == breed ? null : breed"
            class="breeds-table__icon breeds-table__icon--arrow"
            aria-label="Visibility icon">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
      </ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let breed" [attr.colspan]="displayedColumns.length">

      <div *ngIf="breed[1].length > 0" class="breeds-table__element-detail" [@detailExpand]="breed === expandedBreed ? 'expanded' : 'collapsed'">
        <mat-nav-list class="breeds-table__list">
          <mat-list-item role="listitem" *ngFor="let subbreed of breed[1]" [routerLink]="['breed/', breed[0], {subbreed: subbreed}]" class="breeds-table__item"> {{ breed[0] | titlecase }} {{ subbreed | titlecase }} </mat-list-item>
        </mat-nav-list>
      </div>

    </td>
  </ng-container>

  <tr mat-row *matRowDef="let breed; columns: displayedColumns;"
      class="breeds-table__element-row"
      [class.breeds-table__expanded-row]="expandedBreed === breed">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="breeds-table__detail-row"></tr>

</table>
