<app-header>Ustawienia</app-header>

<form [formGroup]="settingsFormGroup">
    <div class="settings__row">
        <div class="settings__grow">
            <p>Liczba wyświetlanych zdjęć danej podrasy</p>
        </div>
        <div class="settings__static">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Liczba zdjęć</mat-label>
                <input 
                    matInput
                    formControlName="photoAmount"
                    id="photoAmount"
                    type="number"
                    (change)="onChangePhotoAmount()">
                <mat-hint align="end">Wartość z zakresu <strong>{{ this.range.min }} - {{ this.range.max }}</strong> </mat-hint>
            </mat-form-field>
        </div>
    </div>
    
    <div class="settings__row">
        <div class="settings__grow">
            <p>Wybierz język</p>
        </div>
        <div class="settings__static">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Język aplikacji</mat-label>
                <mat-select
                    formControlName="language"
                    id="language"
                    (selectionChange)="selectLanguage()">
                  <mat-option value="pl">Polski</mat-option>
                  <mat-option value="en">Angielski</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</form>
