<app-header>{{ 'settings.title' | transloco }}</app-header>

<form [formGroup]="settingsFormGroup">
    <div class="settings__row">
        <div class="settings__grow">
            <p>{{ 'settings.photoAmount.description' | transloco }}</p>
        </div>
        <div class="settings__static">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>{{ 'settings.photoAmount.placeholder' | transloco }}</mat-label>
                <input 
                    matInput
                    formControlName="photoAmount"
                    id="photoAmount"
                    type="number"
                    (change)="onChangePhotoAmount()">
                <mat-hint align="end">{{ 'settings.photoAmount.hint' | transloco }} <strong>{{ this.range.min }} - {{ this.range.max }}</strong> </mat-hint>
            </mat-form-field>
        </div>
    </div>
    
    <div class="settings__row">
        <div class="settings__grow">
            <p>{{ 'settings.language.description' | transloco }}</p>
        </div>
        <div class="settings__static">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>{{ 'settings.language.placeholder' | transloco }}</mat-label>
                <mat-select
                    formControlName="language"
                    id="language"
                    (selectionChange)="selectLanguage()">
                  <mat-option value="pl">{{ 'settings.language.options.pl' | transloco }}</mat-option>
                  <mat-option value="en">{{ 'settings.language.options.en' | transloco }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</form>
