/* You can add global styles to this file, and also import other style files */
* { box-sizing: border-box; margin: 0; padding: 0; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

router-outlet ~ * {
    position: absolute;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 56.25rem;
    padding: 0 0.938rem;
    margin: 0 auto;
}
